<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9fcc9120aa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Mercado Liebre</title>
</head>
<header class="header">
     <div class="header__image">
     <img class="header__logo" header__image src="/images/logo-mercado-liebre.svg" alt="">
      </div>
     <div class="header__image__div">
       <form action="">  
        <div class="header__image__div__search" >
        <input type="text" placeholder="buscar productos,marcas"/>
       <button  class="header__image__div--boton"><i class="fa-solid fa-magnifying-glass"></i> </button>
      </div>
   
    </form>
     </div>  
     <p class="header__image__div--parrafo-2"> <i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de credito</p>
     <nav class="header__nav">
<ul class="header__image__div__ul">
    <li><a href="">Ofertas</a></li>
    <li><a href="">Tiendas Oficiales</a></li>
    <li><a href="">Vender</a></li>
    <li><a href="">Ayuda</a></li>
</ul>
<ul class="header__image__div__ul--user">
    <li><a href="/register">Crea tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
    <li><a href="/login">Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
    <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
   
</ul>

     </nav>
     <button class="header__image__burger-menu">
       <!--  <i class="fas fa-bars"></i> -->
       <i class="fa-solid fa-bars"></i>
     </button>
</header>
<body>
    


<img class="main__section__image--banner" src="/images/img-home-banner.jpg" alt="" width="100%">
 <h1 class="titulo">Basado en tu ultima visita</h1>
<main class="main">
    <section class="main__section">



<article class="main__section__article">
<div class="main__section__article--image">  
    <img class="main__section__article__imagen--prod" src="/images/img-cafetera-moulinex.jpg" alt="" width="300px">
</div>

<div class="main__section__article--info">
   <h5><i class="fa-solid fa-truck"></i></h5>
   <div class="main__section__article--info--precio" >
    <p>$6.770</p>
<span>40% Off</span>
   </div>


<h3>Cafetera Moulinex</h3>
</div>
</article>

<article class="main__section__article">
     <div class="main__section__article--image">
    <img class="main__section__article__imagen--prod" src="/images/img-macbook-pro-2019.jpg" alt="" width="300px">
   </div>

    <div class="main__section__article--info"> 
     <i class="fa-solid fa-truck"></i>
     <div class="main__section__article--info--precio">  
        <p>$230.000</p>
        <span>20% Off</span>
     </div>
      

    <h3>MacBook Pro 2019</h3>
    </div>
    </article>

    <article class="main__section__article">
       <div class="main__section__article--image"> 
        <img class="main__section__article__imagen--prod" src="/images/img-samsung-galaxy-s10.jpg" alt="" width="300px">
    </div>
   
        <div class="main__section__article--info"> 
            <h5><i class="fa-solid fa-truck"></i></h5>
       <div class="main__section__article--info--precio" >
        <p>$70.500</p>
        <span>10% Off</span>
       </div>
        
        <h3>Samsung Galaxy s10</h3>
        </div>
        </article>

        <article class="main__section__article">
            <div class="main__section__article--image"> 
            <img class="main__section__article__imagen--prod" src="/images/img-tv-samsung-smart.jpg" alt="" width="300px">
            </div>
            
            <div class="main__section__article--info">
                <h5><i class="fa-solid fa-truck"></i></h5>
            <div class="main__section__article--info--precio" >  
                <p >$23.000</p>
                <span>5% Off</span>
            </div>
            <h3>SmartTv Samsung 43"</h3>
            </div>
            </article>
        </section>
        <h1 class="titulo">ofertas</h1>
        <section class="main__section">



            <article class="main__section__article">
            <div class="main__section__article--image">  
                <img class="main__section__article__imagen--prod" src="/images/img-cafetera-moulinex.jpg" alt="" width="300px">
            </div>
            
            <div class="main__section__article--info">
               <h5><i class="fa-solid fa-truck"></i></h5>
               <div class="main__section__article--info--precio" >
                <p>$6.770</p>
            <span>40% Off</span>
               </div>
            
            
            <h3>Cafetera Moulinex</h3>
            </div>
            </article>
            
            <article class="main__section__article">
                 <div class="main__section__article--image">
                <img class="main__section__article__imagen--prod" src="/images/img-macbook-pro-2019.jpg" alt="" width="300px">
               </div>
            
                <div class="main__section__article--info"> 
                 <i class="fa-solid fa-truck"></i>
                 <div class="main__section__article--info--precio">  
                    <p>$230.000</p>
                    <span>20% Off</span>
                 </div>
                  
            
                <h3>MacBook Pro 2019</h3>
                </div>
                </article>
            
                <article class="main__section__article">
                   <div class="main__section__article--image"> 
                    <img class="main__section__article__imagen--prod" src="/images/img-samsung-galaxy-s10.jpg" alt="" width="300px">
                </div>
               
                    <div class="main__section__article--info"> 
                        <h5><i class="fa-solid fa-truck"></i></h5>
                   <div class="main__section__article--info--precio" >
                    <p>$70.500</p>
                    <span>10% Off</span>
                   </div>
                    
                    <h3>Samsung Galaxy s10</h3>
                    </div>
                    </article>
            
                    <article class="main__section__article">
                        <div class="main__section__article--image"> 
                        <img class="main__section__article__imagen--prod" src="/images/img-tv-samsung-smart.jpg" alt="" width="300px">
                        </div>
                        
                        <div class="main__section__article--info">
                            <h5><i class="fa-solid fa-truck"></i></h5>
                        <div class="main__section__article--info--precio" >  
                            <p >$23.000</p>
                            <span>5% Off</span>
                        </div>
                        <h3>SmartTv Samsung 43"</h3>
                        </div>
                        </article>
                    </section>

        
</main>
<footer class="footer">
<article class="footer__article">
    <h1><i class="fa-solid fa-credit-card"></i></h1>
<h4 >
    Pagá con tarjeta o en efectivo
</h4>
<p >
    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!
</p>

</article>
 <article class="footer__article">
    <h1> <i class="fa-solid fa-gift"></i> </h1>
    
    <h4 >
    
        Envío gratis desde $ 2.500
    </h4>
    <p >
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.
    </p>
 </article>
 <article class="footer__article">
    <h1><i class="fa-solid fa-user-shield"></i></h1>
<h4 >Seguridad, de principio a fin</h4>
<p >¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.</p>
 </article>
<article class="footer__article">
    <h4 >Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
</article>
</footer>

    
</body>

    
</html>