<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9fcc9120aa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Mercado Liebre</title>
</head>
<header class="header">
   
     <img class="header__image" src="/images/logo-mercado-liebre.svg" alt="">
   
     <div class="header__image__div">
        <p class="header__image__div__search">Buscar productos,marcas </p>
       <button  class="header__image__div--boton"><i class="fa-solid fa-magnifying-glass"></i> </button>
        <p class="header__image__div--parrafo-2"> <i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de credito</p>
     </div>
     <nav class="header__nav">
<ul class="header__image__div__ul">
    <li><a href="/ofertas">Ofertas</a></li>
    <li><a href="">Tiendas Oficiales</a></li>
    <li><a href="">Vender</a></li>
    <li><a href="">Ayuda</a></li>
</ul>
<ul class="header__image__div__ul">
    <li><a href="">Crea tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
    <li><a href="">Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
    <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
   
</ul>

     </nav>
     <button class="header__image__burger-menu">
       <!--  <i class="fas fa-bars"></i> -->
       <i class="fa-solid fa-bars"></i>
     </button>
</header>

<main class="main">
    <section class="main__section">
<img src="/images/img-home-banner.jpg" alt="" width="100%">
<h3>Basado en tu ultima visita</h3>

<article class="main__section__article">
<img src="/images/img-cafetera-moulinex.jpg" alt="" width="300px">
<p class="main__section__article--precio">$6.770</p>
<p>40% Off</p>
<h3>Cafetera Moulinex</h3>
</article>

<article class="main__section__article">
    <img src="/images/img-macbook-pro-2019.jpg" alt="" width="300px">
    <p class="main__section__article--precio">$230.000</p>
    <p>20% Off</p>
    <h3>MacBook Pro 2019</h3>
    </article>

    <article class="main__section__article">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="300px">
        <p class="main__section__article--precio">$70.500</p>
        <p>10% Off</p>
        <h3>Samsung Galaxy s10</h3>
        </article>

        <article class="main__section__article">
            <img src="/images/img-tv-samsung-smart.jpg" alt="" width="300px">
            <p class="main__section__article--precio">$23.000</p>
            <p>5% Off</p>
            <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>

       
</main>
<footer class="footer">
<article class="footer__article">
    <h1><i class="fa-solid fa-credit-card"></i></h1>
<h4 >
    Pagá con tarjeta o en efectivo
</h4>
<p >
    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!
</p>

</article>
 <article class="footer__article">
    <h1> <i class="fa-solid fa-gift"></i> </h1>
    
    <h4 >
    
        Envío gratis desde $ 2.500
    </h4>
    <p >
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.
    </p>
 </article>
 <article class="footer__article">
    <h1><i class="fa-solid fa-user-shield"></i></h1>
<h4 >Seguridad, de principio a fin</h4>
<p >¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.</p>
 </article>
<article class="footer__article">
    <h4 >Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
</article>
</footer>
<body>
    
</body>
    
</html>