<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9fcc9120aa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
  
    <header class="header">
        <div class="header__image">
            <a href="/" > <img class="header__logo" header__image src="/images/logo-mercado-liebre.svg" alt=""></a>         </div>
        <div class="header__image__div">
          <form action="">  
           <div class="header__image__div__search" >
           <input type="text" placeholder="buscar productos,marcas"/>
          <button  class="header__image__div--boton"><i class="fa-solid fa-magnifying-glass"></i> </button>
         </div>
      
       </form>
        </div>  
        <p class="header__image__div--parrafo-2"> <i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de credito</p>
        <nav class="header__nav">
   <ul class="header__image__div__ul">
       <li><a href="">Ofertas</a></li>
       <li><a href="">Tiendas Oficiales</a></li>
       <li><a href="">Vender</a></li>
       <li><a href="">Ayuda</a></li>
   </ul>
   <ul class="header__image__div__ul--user">
       <li><a href="/register">Crea tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
       <li><a href="/login">Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
       <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
      
   </ul>
   
        </nav>
        <button class="header__image__burger-menu">
          <!--  <i class="fas fa-bars"></i> -->
          <i class="fa-solid fa-bars"></i>
        </button>
   </header>
   <h1 class="titulo">Login</h1>
<main class="main__login">  
    <div class="main__form__login--divs">
        <form action="login"  method="POST" >
           
            <div class="div__form">
            <!-- <label for="nombre"></label> -->
            <input type="text" name="nombreUsuario" placeholder="Nombre de usuario..." required>
            </div>
            <div class="div__form">
              <!-- <label for="nombre"></label> -->
              <input type="password" name="password" placeholder="contraseña..." required> 
            </div>
            <div>
              <button class="buttons" type="submit">enviar</button>
            </div>
      </form>
    
       </div>
</main>
   
   
  
   <footer class="footer">
    <article class="footer__article">
        <h1><i class="fa-solid fa-credit-card"></i></h1>
    <h4 >
        Pagá con tarjeta o en efectivo
    </h4>
    <p >
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!
    </p>
    
    </article>
     <article class="footer__article">
        <h1> <i class="fa-solid fa-gift"></i> </h1>
        
        <h4 >
        
            Envío gratis desde $ 2.500
        </h4>
        <p >
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
     </article>
     <article class="footer__article">
        <h1><i class="fa-solid fa-user-shield"></i></h1>
    <h4 >Seguridad, de principio a fin</h4>
    <p >¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
     </article>
    <article class="footer__article">
        <h4 >Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </article>
    </footer>
</body>
</html>