body{
   background-color: gainsboro;
}
.titulo{
    text-align: center;
    color: grey ;
    font-family: "roboto" ; 
}
.main{
  
    color: var(--colorGrisOscuro);
   
}
.main__section{
    display: flex;
    flex-wrap: wrap;
    padding-left: 12px;
    justify-content: space-between;
    align-content: flex-start;
}
.main__section__article{
    margin:10px;
/*     box-shadow: 0px 0px 10px rgb(100, 100, 100);
 */    width: 90%;
    box-sizing: border-box;
}
.main__section__article--image{
   margin-bottom: -3px;
}
.main__section__image--banner{
    margin-top: -10px;

}
.main__section__article__imagen--prod{
    width: 100%;
}

.main__section__article--info{
    position: relative;
    width: 100%;
    padding-bottom: 14px;
    background-color: white;
    flex-wrap: wrap;
    

}
.main__section__article--info h3{
    height: 0px;
    overflow: hidden;
    margin: 0;
}

.main__section__article--info:hover h3{
    height: 50px;
    transition: all 1s; 
    margin-top: 30px;
   
}
.main__section__article:hover {
  
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
   
}

.main__section__article--info i{
    display: block; 
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
color: #39b54a;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
transition: 1s;
}
.main__section__article--info i:hover {
    transform: rotate(-90deg);
} 
/* .main__section__article--info p,span{
     display: inline-block;
     flex-wrap: wrap;

} */
.main__section__article--info--precio span{
    font-family:"Roboto";
    font-size: 0.9rem;
    
    color: var(--colorVerde);
    width: 70%;
    
}
.main__section__article--info--precio p{
    font-size: 18px;
    width: 30%;
    
   
}
.main__section__article--info--precio{
       display: flex;
        /* padding: 0px 21px;   */
       align-items: flex-end;

}

 
/* a partir de aca tablet */
@media (min-width:361px){
   .main__section__article{
   /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
    width: 46%;
    
    
   }
   .main__section{
   justify-content: space-around;
   }
    .main__section__article--info h3{
       /*  display: block; */
    }
}

@media (min-width:769px){
    .main__section__article{
        width: 22%;
       }
       .main__section{
        align-content: flex-start;
        height: 400px;
       }
 
}


